---
// library imports
import { Image } from "@astrojs/image/components";

// component imports
import Link from "./Link.astro";

// utils imports
import { slugify, formatDate } from "../js/utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, date, author, image, description, category } = frontmatter;
---

<article>
  <div>
    <a href={`/category/${slugify(category)}`}>{category}</a>
  </div>
  <a href={url}>
    <Image
      src={image.src}
      alt={image.alt}
      width={400}
      height={250}
      format="avif"
      fit="cover"
      quality={80}
      aspectRatio="4:1"
    />
  </a>
  <div>
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <div>
        by <a href={`/author/${slugify(author)}`}>{author}</a> • {
          formatDate(date)
        }
      </div>
    </div>
    <p>{description}</p>
    <Link href={url} text="Read Post" style="secondary" />
  </div>
</article>
