---
// library imports
import { Image } from "@astrojs/image/components";

// component imports
import Link from "./Link.astro";

// utils imports
import { slugify, formatDate } from "../js/utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, date, author, image, description, category } = frontmatter;
---

<article class="border-2 rounded-md p-5 m-6 bg-slate-400 border-box">
    <a class="py-1.5 px-2 border rounded-md" href={`/category/${slugify(category)}`}>{category}</a>
  <a class="" href={url}>
    <Image
      class="my-4 rounded-md"
      src={image.src}
      alt={image.alt}
      width={400}
      height={250}
      format="avif"
      fit="cover"
      quality={80}
      aspectRatio="4:1"
    />
  </a>
  <div>
    <div>
      <Tag class="h3">
        <a class="text-lg font-medium" href={url}>{title}</a>
      </Tag>
      <hr / class="my-2">
      <div>
        by <a href={`/author/${slugify(author)}`}>{author}</a> • {
          formatDate(date)
        }
      </div>
    </div>
      <p class="py-2 mb-3" >{description}</p>
      <a class="py-1.5 px-2 border rounded-md m-30" href={url}>Read Post<a/>
  </div>
</article>
